NET HR LOC=N16 | IOSTANDARD=LVCMOS33; #LD5
NET HY LOC=G14 | IOSTANDARD=LVCMOS33; #LD4
NET HG LOC=R11 | IOSTANDARD=LVCMOS33; #LD3
NET FR LOC=N15 | IOSTANDARD=LVCMOS33; #LD2
NET FY LOC=R12 | IOSTANDARD=LVCMOS33; #LD1
NET FG LOC=M16 | IOSTANDARD=LVCMOS33; #LD0
NET FLL LOC=H17 | IOSTANDARD=LVCMOS33; #LD0
NET clock LOC=E3 | IOSTANDARD=LVCMOS33;
NET sensor LOC=J15 | IOSTANDARD=LVCMOS33; #SW0
NET pedestrian LOC=L16 | IOSTANDARD=LVCMOS33; #SW1
NET LTS LOC=M13 | IOSTANDARD=LVCMOS33; #SW1
NET reset LOC=P18 | IOSTANDARD=LVCMOS33; #BTND
NET s<6> LOC=T10 | IOSTANDARD=LVCMOS33;
NET s<5> LOC=R10 | IOSTANDARD=LVCMOS33;
NET s<4> LOC=K16 | IOSTANDARD=LVCMOS33;
NET s<3> LOC=K13 | IOSTANDARD=LVCMOS33;
NET s<2> LOC=P15 | IOSTANDARD=LVCMOS33;
NET s<1> LOC=T11 | IOSTANDARD=LVCMOS33;
NET s<0> LOC=L18 | IOSTANDARD=LVCMOS33;
NET anode LOC=J17 | IOSTANDARD=LVCMOS33;
NET anode1 LOC=J18 | IOSTANDARD=LVCMOS33;
NET anode2 LOC=T9 | IOSTANDARD=LVCMOS33;
NET anode3 LOC=J14 | IOSTANDARD=LVCMOS33;
NET anode4 LOC=P14 | IOSTANDARD=LVCMOS33;
NET anode5 LOC=T14 | IOSTANDARD=LVCMOS33;
NET anode6 LOC=K2 | IOSTANDARD=LVCMOS33;
NET anode7 LOC=U13 | IOSTANDARD=LVCMOS33;